$primary-font:visby cf,Sans-serif;
$primary-size:21px;
$primary-weight: normal;
$primary-color:#fff;

$secondary-font:Lato,sans-serif;
$secondary-size:70px;
$secondary-weight:800;
$secondary-color:#4A4A4A;

$third-font:Roboto,;
$third-weight: 300;





