div h2{
    color: $primary-color;
    font-family: $primary-font;
    font-size: $secondary-size;
    font-weight: $primary-weight;
}
// div h3{
//     color: $primary-color;
//     font-family: $primary-font;
//     font-size: $secondary-size;
//     font-weight: $secondary-weight;
// }
